<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>IIT Bazaar-ADMIN PAGE</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('../includes/navbar.ejs') %>
    <h1>List of Users</h1>
    <div class="container">
      <% for(let user of users) {%>
      <div class="row">
        <div class="col sm-6"><%= user.name %></div>
        <div class="col sm-6">
          <% if(user.blocked) {%>
          <a href="admin/blockUser/<%= user.id %>" class="btn btn-primary"
            >Unblock User</a
          >
          <%} else {%>
          <a href="admin/blockUser/<%= user.id %>" class="btn btn-danger"
            >Block User</a
          >
          <%}%>
        </div>
      </div>
      <%}%>
    </div>

    <br /><br /><br />
    <hr />
    <hr />
    <hr />

    <h2>List of All Products</h2>

    <div class="container">
      <% for(let product of products) {%>
      <div class="row">
        <div class="col sm-6"><%= product.name %></div>
        <div class="col sm-6">
          <% if(product.flagged) {%>
          <a href="admin/flagProduct/<%= product.id %>" class="btn btn-primary"
            >Unflag Product</a
          >
          <%} else {%>
          <a href="admin/flagProduct/<%= product.id %>" class="btn btn-danger"
            >Flag Product</a
          >
          <%}%>
        </div>
      </div>
      <%}%>
    </div>

    <hr />
    <hr />
    <hr />

    <h2>Transactions</h2>

    <div class="container">
      <div class="row">
        <div class="col-sm-6">Buyer</div>
        <div class="col-sm-6">Date</div>
      </div>
      <br /><br />
      <% for(let transaction of transactions) {%>
      <div class="row">
        <div class="col-sm-6"><%= transaction.buyer.name %></div>
        <div class="col-sm-6"><%= transaction.date %></div>
      </div>
      <%}%>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
